---
layout: buy-page
tagline: offers
title: offers
pageType: buy
subsciption-name: Experimental
is-multi-user: false
payment-url: https://buy.stripe.com/6oE02XePk0HT8ak6oJ
eula-url: https://codeglassdotio.github.io/Docs/docs/Legal/EULA/ExperimentalSubscriptionAgreement
---




{% include buysections/buy.html  %}


{% assign offertxt = site.translations[site.lang].buy.offer-1-text %}
{% assign offerbtntxt = site.translations[site.lang].buy.offer-1-button %}
{% include sections/offer.html offer-link="offers" offer-text=offertxt button-text=offerbtntxt %}