---
layout: buy-page
tagline: offers
title: offers
pageType: buy
subsciption-name: Individual Pro
is-multi-user: false
payment-url: https://buy.stripe.com/8wM4jd7mS3U5fCM8wN
eula-url: https://codeglassdotio.github.io/Docs/docs/Legal/EULA/ProSubscriptionAgreement
---


{% include buysections/buy.html  %}

{% assign offertxt = site.translations[site.lang].buy.offer-1-text %}
{% assign offerbtntxt = site.translations[site.lang].buy.offer-1-button %}
{% include sections/offer.html offer-link="offers" offer-text=offertxt button-text=offerbtntxt %}