---
layout: buy-page
tagline: Thank you
title: For buying a subscription!
pageType: buy
subsciption-name: Pro
is-multi-user: false
payment-url: https://buy.stripe.com/dR69Dx4aGbmx9eo7sG
eula-url: https://codeglassdotio.github.io/Docs/docs/Legal/EULA/ProSubscriptionAgreement
---


{% include buysections/buy.html  %}

{% assign offertxt = site.translations[site.lang].buy.offer-1-text %}
{% assign offerbtntxt = site.translations[site.lang].buy.offer-1-button %}
{% include sections/offer.html offer-link="offers" offer-text=offertxt button-text=offerbtntxt %}


