---
layout: buy-page
tagline: Thank you
title: For buying a subscription!
pageType: buy
subsciption-name: Pro
payment-url: https://buy.stripe.com/3cseXR6iO8al4Y8cMN
---


{% include sections/offer.html offer-text="!!! PAYMENT LINKS ARE NOT ACTIVE AS WE HAVE NOT LAUNCED YET !!!" %}



{% include buysections/buy.html  %}


{% include sections/offer.html offer-text="!!! PAYMENT LINKS ARE NOT ACTIVE AS WE HAVE NOT LAUNCED YET !!!" %}
{% include sections/offer.html offer-link="https://codeglassdotio.github.io/Docs/contact" offer-text="Do not hesitate to contact us for any questions" button-text="Contact" %}


