---
layout: default
title: Next Generation Dev Tools
pageType: landing

tagline: We just want to code.
title: Add 25% Development power to you or your team.
---

{% include sections/offer.html offer-link="#demo" offer-text="CodeGlass enables the ultimate developer experience" %}
{% include sections/why.html %}
{% include sections/offer.html offer-link="#demo" offer-text="This should be impossible right?" button-text="Request Demo" %}


{% include sections/demo.html %}
{% include sections/offer.html offer-link="main.html#about" link-target="_blank"  offer-text="Discover more" button-text="Continue" %}