---
layout: default
title: Next Generation Dev Tools
pageType: index

tagline: Next Generation
title: Real-Time <strong>Profiler</strong>, <strong>Maintenance</strong>, <strong>Diagnostic</strong> and <strong>Development</strong> tool.
---

{% assign offertxt = site.translations[site.lang].index.offer-1-text %}
{% assign offerbtntxt = site.translations[site.lang].index.offer-1-button %}
{% include sections/offer.html offer-link="offers" offer-text=offertxt button-text=offerbtntxt %}

{% include sections/about.html %}

{% include sections/features.html %}

{% include sections/portfolio.html %}

{% include sections/parallax-features.html %}

{% assign offertxt = site.translations[site.lang].index.offer-2-text %}
{% assign offerbtntxt = site.translations[site.lang].index.offer-2-button %}
{% include sections/offer.html offer-link="https://codeglassdotio.github.io/Docs/features" offer-text=offertxt button-text=offerbtntxt %}

{% include sections/testimonials.html %}

{% include sections/blog.html %}

{% include sections/team.html %}


{% assign offertxt = site.translations[site.lang].index.offer-3-text %}
{% assign offerbtntxt = site.translations[site.lang].index.offer-3-button %}
{% include sections/offer.html offer-link="offers" offer-text=offertxt button-text=offerbtntxt %}

{% include sections/prices.html %}

{% include sections/contact.html %}

{% assign offertxt = site.translations[site.lang].index.offer-4-text %}
{% assign offerbtntxt = site.translations[site.lang].index.offer-4-button %}
{% include sections/offer.html offer-link="https://github.com/CodeGlassDotIO/CodeGlassDotIO/releases" offer-text=offertxt button-text=offerbtntxt %}