---
layout: offers-page
tagline: offers
title: offers
pageType: offers
---

{% assign offertxt = site.translations[site.lang].offers.offer-1-text %}
{% include sections/offer.html  offer-text=offertxt %}


{% include sections/prices.html  %}


{% include offerssections/community.html %}

{% assign offertxt = site.translations[site.lang].offers.offer-2-text %}
{% assign offerbtntxt = site.translations[site.lang].offers.offer-2-button %}
{% include sections/offer.html offer-link="https://codeglassdotio.github.io/Docs/contact" offer-text=offertxt button-text=offerbtntxt %}

{% include offerssections/pro.html %}

{% assign offertxt = site.translations[site.lang].offers.offer-3-text %}
{% assign offerbtntxt = site.translations[site.lang].offers.offer-3-button %}
{% include sections/offer.html offer-link="https://codeglassdotio.github.io/Docs/contact" offer-text=offertxt button-text=offerbtntxt %}


{% include offerssections/experimental.html %}

{% assign offertxt = site.translations[site.lang].offers.offer-3-text %}
{% assign offerbtntxt = site.translations[site.lang].offers.offer-3-button %}
{% include sections/offer.html offer-link="https://codeglassdotio.github.io/Docs/docs/LicenseTypes" offer-text=offertxt button-text=offerbtntxt %}