---
layout: offers-page
tagline: Thank you
title: For supporting CodeGlass!
pageType: offers
---

{% include sections/offer.html  offer-text="ONLY WITH YOUR SUPPORT CAN WE MAKE CODEGLASS BETTER!" %}


{% include sections/prices.html  %}


{% include offerssections/community.html %}

{% include sections/offer.html offer-link="https://codeglassdotio.github.io/Docs/contact" offer-text="Contact us to request your community license!" button-text="Contact" %}

{% include offerssections/pro.html %}

{% include sections/offer.html offer-link="https://codeglassdotio.github.io/Docs/contact" offer-text="Contact us for volume pricing!" button-text="Contact" %}


{% include offerssections/experimental.html %}

{% include sections/offer.html offer-link="https://codeglassdotio.github.io/Docs/docs/LicenseTypes" offer-text="See our Comparison Chart for more information!" button-text="Compare" %}