<!-- About Section -->
<section class="site-section about-section next-section-indicator" id="demo">
  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>Schedule a demo!</h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <p>We offer a 3 months subscription for 50% off to anyone we demonstrate to till 1 september so you can feel the ultimate developer experience yourself before commiting to a year subscription.</p>
      </div>
        
      <!-- Start of Meetings Embed Script -->
      <div class="meetings-iframe-container" data-src="https://meetings-eu1.hubspot.com/tkrieger?embed=true"></div>
      <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>
      <!-- End of Meetings Embed Script -->
    </div>

  </div>
</section>