<!-- Offer Section -->
<section class="offer-section">
  <div class="container">
{% if include.button-text %}
    <div class="col-md-9 col-sm-12">
      <h2>{{ include.offer-text }}</h2>
    </div>
    <div class="col-md-3 col-md-push-0 col-sm-8 col-sm-push-2 col-xs-10 col-xs-push-1">
      <a href="{{ include.offer-link }}" 
      {% if include.link-target %}
target="_blank"
      {% endif %}
      class="button-cta button-block">{{ include.button-text }}</a>
    </div>

  </div>
{% else %}
<div class="col-md-12 col-sm-12">
  <h2>{{ include.offer-text }}</h2>
</div>

{% endif %}
</section>
