<!-- Prices Section -->
<section class="site-section prices-section" id="prices">
  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>{% t pricing-title %}</h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <p>{% t pricing-description %}</p>
      </div>

    </div>

    <!-- Pricing Tables Container -->
    <div class="row pricing-tables-container">
      <div class="pricing-tables-wrapper clearfix">

        <!-- Pricing Table -->
        <div class="col-md-3 col-md-push-0 col-sm-4 col-sm-push-0 col-xs-8 col-xs-push-2">
          <div class="pricing-table">

            <div class="plan-head">
              <h3 class="plan-title">{% t plan-personal-title-short %}</h3>
              <hr class="normal">
              <p class="plan-subtitle">{% t plan-personal-subtitle %}</p>
            </div>

            <!-- Plan Content -->
            <div class="plan-content">
              <h4 class="feature-title"><i class="pe-7s-check"></i>{% t plan-personal-offer-1-title %}</h4>
              <p class="feature-content">{% t plan-personal-offer-1-info %}</p>
              <hr class="separator">
              <!-- <h4 class="feature-title"><i class="pe-7s-check"></i>{{ site.plan-personal-offer-2-title }}</h4> -->
              <p class="feature-content">{% t plan-personal-offer-2-info %}</p>
            </div>

            <!-- Plan Action -->
            <div class="plan-action">
              {% if page.pageType== "offers"%}
              <a href="#community" class="button">{% t plan-button-learn-more %}</a>
              {% else %}
              <a href="{{ site.baseurl }}/offers#community" class="button">{% t plan-button-learn-more %}</a>
              {% endif %}
            </div>

          </div>
        </div>

        <!-- Pricing Table -->
        <div class="col-md-3 col-md-push-0 col-sm-4 col-sm-push-0 col-xs-8 col-xs-push-2">
          <div class="pricing-table pricing-table-focus">

            <!-- Plan Head -->
            <div class="plan-head">
              <div class="offer">{% t plan-recommend %}</div>
              <h3 class="plan-title">{% t plan-business-title-short %} </h3>
              <hr class="normal">
              <p class="plan-subtitle">{% t plan-business-subtitle %}</p>
            </div>

            <!-- Plan Content -->
            <div class="plan-content">
              <h4 class="feature-title"><i class="pe-7s-check check"></i>{% t plan-business-offer-1-title %}</h4>
              <p class="feature-content">{% t plan-business-offer-1-info %}</p>
              <hr class="separator">
              <!-- <h4 class="feature-title"><i class="pe-7s-check check"></i>{{ site.plan-business-offer-2-title }}</h4> -->
              <p class="feature-content">{% t plan-business-offer-2-info %}</p>
            </div>

            <!-- Plan Action -->
            <div class="plan-action">
              {% if page.pageType== "offers"%}
              <a href="#pro" class="button">{% t plan-button-learn-more %}</a>
              {% else %}
              <a href="{{ site.baseurl }}/offers#pro" class="button button-focus">{% t plan-button-offers %}</a>
              {% endif %}
              
            <div style="margin-top:5px;">
              <a href="{{ site.baseurl }}/buypro#buy">{% t plan-business-button-buy-now %}</a>
            </div>
            </div>

          </div>
        </div>

        <!-- Pricing Table -->
        <div class="col-md-3 col-md-push-0 col-sm-4 col-sm-push-0 col-xs-8 col-xs-push-2">
          <div class="pricing-table">

            <!-- Plan Head -->
            <div class="plan-head">
              <h3 class="plan-title">{% t plan-ultimate-title-short %}</h3>
              <hr class="normal">
              <!-- <p class="plan-subtitle">Price TBA.</p> -->
              <p class="plan-subtitle">{% t plan-ultimate-subtitle %}</p>
            </div>

            <!-- Plan Content -->
            <div class="plan-content">
              <h4 class="feature-title"><i class="pe-7s-check check"></i>{% t plan-ultimate-offer-1-title %}</h4>
              <p class="feature-content">{% t plan-ultimate-offer-1-info %}</p>
              <hr class="separator">
              <!-- <h4 class="feature-title"><i class="pe-7s-check check"></i>{{ site.plan-ultimate-offer-2-title }}</h4> -->
              <p class="feature-content">{% t plan-ultimate-offer-2-info %}</p>
            </div>

            <!-- Plan Action -->
            <div class="plan-action">
              {% if page.pageType== "offers"%}
              <a href="#experimental" class="button">{% t plan-button-learn-more %}</a>
              {% else %}
              <a href="{{ site.baseurl }}/offers#experimental" class="button">{% t plan-button-learn-more %}</a>
              {% endif %}
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="row text-center">
    <p>
      <br/>
      {% t pricing-unavailable-disclamer %}
    </p>
  </div>
  </div>
</section>
