$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("../fonts/Flaticon/flaticon.ttf?4908e73e4efe3afe964ad229a849637a") format("truetype"),
url("../fonts/Flaticon/flaticon.woff?4908e73e4efe3afe964ad229a849637a") format("woff"),
url("../fonts/Flaticon/flaticon.woff2?4908e73e4efe3afe964ad229a849637a") format("woff2"),
url("../fonts/Flaticon/flaticon.eot?4908e73e4efe3afe964ad229a849637a#iefix") format("embedded-opentype"),
url("../fonts/Flaticon/flaticon.svg?4908e73e4efe3afe964ad229a849637a#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "github-logo-silhouette-in-a-square": "\f101",
    "discord": "\f102",
    "facebook": "\f103",
    "instagram": "\f104",
    "twitter": "\f105",
    "linkedin": "\f106",
    "youtube": "\f107",
    "telegram": "\f108",
    "google-plus": "\f109",
    "pinterest": "\f10a",
);

.flaticon-github-logo-silhouette-in-a-square:before {
    content: map-get($flaticon-map, "github-logo-silhouette-in-a-square");
}
.flaticon-discord:before {
    content: map-get($flaticon-map, "discord");
}
.flaticon-facebook:before {
    content: map-get($flaticon-map, "facebook");
}
.flaticon-instagram:before {
    content: map-get($flaticon-map, "instagram");
}
.flaticon-twitter:before {
    content: map-get($flaticon-map, "twitter");
}
.flaticon-linkedin:before {
    content: map-get($flaticon-map, "linkedin");
}
.flaticon-youtube:before {
    content: map-get($flaticon-map, "youtube");
}
.flaticon-telegram:before {
    content: map-get($flaticon-map, "telegram");
}
.flaticon-google-plus:before {
    content: map-get($flaticon-map, "google-plus");
}
.flaticon-pinterest:before {
    content: map-get($flaticon-map, "pinterest");
}
