<!-- Features Section -->
<section class="site-section section-focus features-section" id="community">
  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2><a href="https://codeglassdotio.github.io/Docs/docs/Editions/Community">Community Edition</a></h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <p>
          This is the **TBA** edition of Code Glass, with some feature limitations; you can find out those in the community edition details.
          <br/>
          This edition is meant for people that do not have the funds, method or need to pay for the pro edition.
          Because we want anyone to use our software even if you do not have the method or funds to pay for it. <br/> 
          <br/>

          We also give this edition away to people previously supporting CodeGlass, as a thank you.
          See your subscription for the details regarding this. <br/>
          <br/>
          <br/>
          <a href="https://codeglassdotio.github.io/Docs/docs/Editions/Community" class="button-cta button-focus">Community Edition Details</a></br> 
        </p>
      </div>

    </div>

    </div>

  </div>
</section>
