<!-- Features Section -->
<section class="site-section section-focus prices-section" id="experimental">
  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2><a href="https://codeglassdotio.github.io/Docs/docs/Editions/Experimental">Experimental Edition</a></h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <p>
          The Experimental edition are experimental builds of Code Glass with features that might not be released yet (or at all) to the public as they are not proven stable enough. <br/>
          See the details to know which features that are.<br/>
          <br/>
          This subscription is meant for people who want to support us fully; most features will come to the other editions within a few updates. <br/>
          We might even stop offering it if we sell to many of them.

        </p>

        
      </div>

    </div>


    <!-- Pricing Tables Container -->
    <div class="row pricing-tables-container">
      <div class="pricing-tables-wrapper clearfix">

        <!-- Pricing Table -->
        <div class="col-md-6 col-md-push-0 col-sm-6 col-sm-push-3 col-xs-8 col-xs-push-2">
          <div class="pricing-table">

            <!-- Plan Head -->
            <div class="plan-head">
              <h3 class="plan-title">Experimental</h3>
              <hr class="normal">
              <p class="plan-subtitle"><span class="text-focus">€ TBA</span> Per Month<br/>or<br/><span class="text-focus">€ TBA</span> Per Year<br/></p>
            </div>

            <!-- Plan Content -->
            <div class="plan-content">
              <h4 class="feature-title"></i>For private individuals*</h4>
              <p class="feature-content">* However, you can be reimbursed by a legal entity or another third party.</p>
              <hr class="separator">
              <!-- <h4 class="feature-title"><i class="pe-7s-check"></i>{{ site.plan-personal-offer-2-title }}</h4> -->
              
              <h4 class="feature-title"></i>General-commercial</h4>
              <p class="feature-content">Use it anywhere for any project.</p>

              <hr class="separator">
              <h4 class="feature-title"></i>Multi Users</h4>
              <p class="feature-content">Allows 2 users per subscription to use the software concurrently<br/>per the number of purchased subscriptions.</p>
                
              <hr class="separator">
              <h4 class="feature-title"></i>Fallback License*</h4>
              <p class="feature-content">After 12 months you may request a <a href="https://codeglassdotio.github.io/Docs/docs/LicenseTypes/FallbackLicense">fallback License</a><br/>
              or after 2 months a <a href="https://codeglassdotio.github.io/Docs/docs/LicenseTypes/CommunityLicense">community License</a>. <br/>
            
              downgrading to a <a href="#pro">pro subscription</a> does not reset this timer.</p>
            
            </p>

            </div>


            <!-- Plan Action -->
            <div class="plan-action">
              <div class="row"> 
                <div class="col-xs-12 col-md-8 col-md-push-2">
                  <a href="https://codeglassdotio.github.io/Docs/docs/LicenseTypes/ExperimentalSubscription" class="button" style="width: 100%; margin-bottom: 10px;">Details</a>
                </div>

              </div>
              <div class="row">
                <div class="col-xs-12 col-md-8 col-md-push-2">
                  <a href="buyexperimental#buy" class="button button-focus" style="width: 100%;">Buy</a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <p>
      <br/>
      * We will start offering this after we have enough support to full-time develop CodeGlass. <br/>
    </p>
  </div>
</section>
