<!-- Features Section -->
<section class="site-section section-focus prices-section" id="pro">
  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2><a href="https://codeglassdotio.github.io/Docs/docs/Editions/Pro">Pro Edition</a></h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <p>
          The Pro edition is the paid edition of Code Glass and has access to all features of Code Glass, except the experimental features of the Experimental Edition.
          <br/>
          <br/>
          We have to following subscription plans: <br/>

        </p>

        
      </div>

    </div>


    <!-- Pricing Tables Container -->
    <div class="row pricing-tables-container">
      <div class="pricing-tables-wrapper clearfix">

        <!-- Pricing Table -->
        <div class="col-md-3 col-md-push-0 col-sm-3 col-sm-push-0 col-xs-8 col-xs-push-2">
          <div class="pricing-table">

            <!-- Plan Head -->
            <div class="plan-head">
              <h3 class="plan-title">Enthusiast</h3>
              <hr class="normal">
              <p class="plan-subtitle"><span class="text-focus">€5</span> Per Month<br/>or<br/><span class="text-focus">€50</span> Per Year<br/></p>
            </div>

            <!-- Plan Content -->
            <div class="plan-content">
              <h4 class="feature-title"></i>For private individuals</h4>
              <p class="feature-content">Envisioned for those using the community edition but wants to support CodeGlass.</p>
              <hr class="separator">
              <!-- <h4 class="feature-title"><i class="pe-7s-check"></i>{{ site.plan-personal-offer-2-title }}</h4> -->
              
              <h4 class="feature-title"></i>Non-commercial</h4>
              <p class="feature-content">Use at home for non-commercial projects.</p>

                
              <hr class="separator">
              <h4 class="feature-title"></i>Community License</h4>
              <p class="feature-content">After 2 months you may request a <a href="https://codeglassdotio.github.io/Docs/docs/LicenseTypes/CommunityLicense">community License</a>.<br/>
                upgrading to a <a href="#pro">pro subscription</a> does not reset this timer.</p></p>
            </div>


            <!-- Plan Action -->
            <div class="plan-action">
              <div class="row"> 
                <div class="col-xs-12 col-md-8 col-md-push-2">
                  <a href="https://codeglassdotio.github.io/Docs/docs/LicenseTypes/EnthousiastSubscription" class="button" style="width: 100%; margin-bottom: 10px;">Details</a>
                </div>

              </div>
              <div class="row">
                <div class="col-xs-12 col-md-8 col-md-push-2">
                  <a href="{{ site.plan-business-url }}" class="button button-focus" style="width: 100%;">Buy</a>
                </div>
              </div>
            </div>

          </div>
        </div>

        <!-- Pricing Table -->
        <div class="col-md-3 col-md-push-0 col-sm-3 col-sm-push-0 col-xs-8 col-xs-push-2">
          <div class="pricing-table pricing-table-focus">

            <!-- Plan Head -->
            <div class="plan-head">
              <div class="offer">Recommend</div>
              <h3 class="plan-title">Pro </h3>
              <hr class="normal">
              <p class="plan-subtitle"><span class="text-focus">€10</span> Per Month<br/>or<br/><span class="text-focus">€100</span> Per Year<br/></p>
            </div>

            <!-- Plan Content -->
            <div class="plan-content">
              <h4 class="feature-title"></i>For private individuals*</h4>
              <p class="feature-content">* However, you can be reimbursed by a legal entity or another third party.</p>
              <hr class="separator">
              <h4 class="feature-title"></i>General-commercial</h4>
              <p class="feature-content">Use it anywhere for any project.</p>

              
                
              <hr class="separator">
              <h4 class="feature-title"></i>Fallback License</h4>
              <p class="feature-content">After 12 months you may request a <a href="https://codeglassdotio.github.io/Docs/docs/LicenseTypes/FallbackLicense">fallback License</a><br/>
              or after 2 months a <a href="https://codeglassdotio.github.io/Docs/docs/LicenseTypes/CommunityLicense">community License</a>. <br/>
              upgrading to <a href="#experimental">experimental</a> does not reset this timer.</p>

            </div>

            <!-- Plan Action -->
            <div class="plan-action">
              <div class="row"> 
                <div class="col-xs-12 col-md-8 col-md-push-2">
                  <a href="https://codeglassdotio.github.io/Docs/docs/LicenseTypes/ProSubscription" class="button" style="width: 100%; margin-bottom: 10px;">Details</a>
                </div>

              </div>
              <div class="row">
                <div class="col-xs-12 col-md-8 col-md-push-2">
                  <a href="{{ site.plan-business-url }}" class="button button-focus" style="width: 100%;">Buy</a>
                </div>
              </div>
            </div>

          </div>
        </div>

        <!-- Pricing Table -->
        <div class="col-md-3 col-md-push-0 col-sm-3 col-sm-push-0 col-xs-8 col-xs-push-2">
          <div class="pricing-table">

            <!-- Plan Head -->
            <div class="plan-head">
              <h3 class="plan-title">organization</h3>
              <hr class="normal">
              <p class="plan-subtitle"><span class="text-focus">€20</span> Per Month<br/>or<br/><span class="text-focus">€200</span> Per Year<br/></p>
            </div>

            <!-- Plan Content -->
            <div class="plan-content">
              <h4 class="feature-title"></i>For Legal entities</h4>
              <p class="feature-content">a corporation, company, partnership, association, or other entity or organization</p>
              <hr class="separator">
              <!-- <h4 class="feature-title"><i class="pe-7s-check"></i>{{ site.plan-personal-offer-2-title }}</h4> -->

              <h4 class="feature-title"></i>Multi Users</h4>
              <p class="feature-content">Allows concurrent software users for the number of purchased subscriptions.</p>

              
                
              <hr class="separator">
              <h4 class="feature-title"></i>Fallback License</h4>
              <p class="feature-content">After 12 months you may request a <a href="https://codeglassdotio.github.io/Docs/docs/LicenseTypes/FallbackLicense">fallback License</a>.</p>
            </div>

            <!-- Plan Action -->
            <div class="plan-action">
              <div class="row"> 
                <div class="col-xs-12 col-md-8 col-md-push-2">
                  <a href="https://codeglassdotio.github.io/Docs/docs/LicenseTypes/OrganisationSubscription" class="button" style="width: 100%; margin-bottom: 10px;">Details</a>
                </div>

              </div>
              <div class="row">
                <div class="col-xs-12 col-md-8 col-md-push-2">
                  <a href="{{ site.plan-business-url }}" class="button button-focus" style="width: 100%;">Buy</a>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="col-md-3 col-md-push-0 col-sm-3 col-sm-push-0 col-xs-8 col-xs-push-2">
          <div class="pricing-table">

            <!-- Plan Head -->
            <div class="plan-head">
              <h3 class="plan-title">Offline organization</h3>
              <hr class="normal">
              <p class="plan-subtitle">On request <br/><br/><br/></p>
            </div>

           
            <!-- Plan Content -->
            <div class="plan-content">
              <h4 class="feature-title"></i>For Legal entities</h4>
              <p class="feature-content">a corporation, company, partnership, association, or other entity or organization</p>
              <hr class="separator">
              <!-- <h4 class="feature-title"><i class="pe-7s-check"></i>{{ site.plan-personal-offer-2-title }}</h4> -->

              <h4 class="feature-title"></i>Offline Usage</h4>
              <p class="feature-content">It does not need an internet connection when logging in (the first time).</p>

              
              <hr class="separator">
              <h4 class="feature-title"></i>Fallback License</h4>
              <p class="feature-content">After 12 months you may request a <a href="https://codeglassdotio.github.io/Docs/docs/LicenseTypes/FallbackLicense">fallback License</a>. </p>
            </div>

            <!-- Plan Action -->
            <div class="plan-action">
              <div class="row"> 
                <div class="col-xs-12 col-md-8 col-md-push-2">
                  <a href="https://codeglassdotio.github.io/Docs/docs/LicenseTypes/OfflineOrganisationSubscription" class="button" style="width: 100%; margin-bottom: 10px;">Details</a>
                </div>

              </div>
              <div class="row">
                <div class="col-xs-12 col-md-8 col-md-push-2">
                  <a href="{{ site.plan-business-url }}" class="button button-focus" style="width: 100%;">Buy</a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <p>
      <br/>
      We also have plans for students, teachers, educational institutes and more, visit our <a href="https://codeglassdotio.github.io/Docs/docs/LicenseTypes">comparison chart</a> for more information.
    </p>
  </div>
</section>
