<!-- Features Section -->
<section class="site-section section-focus features-section" id="buy">
  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>{{ page.subsciption-name }} Subscription</h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <p>
          {% t buy-text-top %} 
          {% if page.is-multi-user == true %}
            {% t buy-text-users-multiple %} 
          {% else%}
            {% t buy-text-users-single %} 
          {% endif %}
          {% t buy-text-bottom %} 
          {% t buy-legal.pre-text %}
          <a href="{{ page.eula-url }}">{% t buy-legal.eula-text %}</a>
          {% t buy-legal.post-text %}
          <br/>
        <a class="button-cta button-focus" href="{{ page.payment-url }}">{% t buy-button-buy-agree %}</a> </p>
        
        </p>
      </div>

    </div>

    </div>

  </div>
</section>
