<!-- Features Section -->
<section class="site-section section-focus features-section" id="buy">
  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>{{ page.subsciption-name }} Subscription</h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <p>
        First off, thank you for buying a {{ page.subsciption-name }} subscription! <br/>
        We can continue development on CodeGlass with your support :)<br/>
        <br/>
        After you buy your subscription, you will get an email from LicenseSpring with your <a href="http://codeglassdotio.github.io/Docs/docs/Others/Account">CodeGlass Account</a> details.<br/>
        <br/>
        You can choose to pay monthly or yearly term on the Stripe payment site.<br/>
        <br/>
        <i>You can cancel your subscription at any time and can continue using CodeGlass till your term ends.<br/>
        You can also upgrade or downgrade to another subscription that you are eligible for at any time.</i><br/>
        <br/>
        By clicking buy, you indicate you read and agree to the <a href="">EULA</a> and <a href="http://codeglassdotio.github.io/Docs/docs/Legal/TermsAndConditionsOfPurchase">Terms and Conditions</a>. <br/>

        <a class="button-cta button-focus" href="{{ page.payment-url }}">Buy And Agree</a>
        
        </p>
      </div>

    </div>

    </div>

  </div>
</section>
